<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <div class="flex justify-content-between align-items-center mb-4">
                <h5 class="m-0">Gestión de Productos</h5>
                <p-button
                    label="Agregar Producto"
                    icon="pi pi-plus"
                    styleClass="p-button-success"
                    (onClick)="setAbrirModal()"
                >
                </p-button>
            </div>

            <div>
                <app-producto-table
                    [productos]="productos"
                    [isLoading]="isLoading"
                    [permissions]="permissions"
                    (editClicked)="setAbrirModal($event)"
                    (deleteClicked)="setConfirmarEliminacion($event)"
                >
                </app-producto-table>
            </div>
        </div>
    </div>
</div>

@if(displayModal){
    <app-producto-form
    [displayModal]="displayModal"
    [producto]="productoSeleccionado"
    [isLoading]="isSaving"
    (onSave)="setGuardarProducto($event)"
    (onCancel)="setCerrarModal()"></app-producto-form>
}


